body{
  background-color: #ffffff;
  font-family: "Mohave", serif;
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: normal;
}

/*MAIN SECTION (HEROES SECTION)*/
h1,h2{
  font-family: "Mohave", serif;
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: normal;
  padding:0 0 10px 0;
  margin:0;
  font-size: 40px;;
}

.name{
  font-weight: 500;
  color: #606BF9;
}
.main-container{
  background-color: white;
  height:100%;
  margin:0 10%;
  padding:0 50px;
  box-shadow: 8px 8px 15px rgba(0, 0, 0, 0.5);
}
.hero-container{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 150px;
  padding-top: 100px;
  
}
.my-way{
  max-width: 400px;
}
.portfolio-image{
  height: 400px;
  border-radius: 50%;
  box-shadow: 8px 8px 15px rgba(0, 0, 0, 0.5);
}

.line{
  margin: 4rem 7rem 0 7rem;
}
/*About section*/
.about-container{
  display: flex;
  justify-content: center;
  flex-direction: column;
  padding: 40px;
  margin: 20px;
}
.about-title, .title{
  align-self: center;
}
.about-content{
  padding: 0 20%;
  text-align: justify;
}

/*Work section*/

.works-container{
  display: flex;
  justify-content: center;
  flex-direction: column;
  gap: 15px;
  padding: 40px 0px;
  margin: 20px 0;
}
.project-img{
  height: 150px;
  border-radius: 15px;
}
.project-card-container{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  gap: 20px;
}
.project-card{
  justify-content: center;
  height: 300px;
  background-color: #ffffff;
  box-shadow: 10px 10px 15px rgba(0, 0, 0, 0.5);
  border-radius: 20px;
  padding: 10px;
}
.project-title{
  padding: 10px;
  font-size: 25px;
}
.visit-btn{
  text-decoration: none;
  border: 2px solid black;
  padding: 10px 20px;
  margin: 10px 0 40px 10px;
  border-radius: 15px;
}
.visit-btn:hover{
  background-color: black;
  color: white;
  border-radius: 25px;
}

@media(max-width:600px){
  body{
    background-color: #ffffff;
  }
  .main-container{
    box-shadow: none;
    padding: 0; 
  }
  .hero-container{
    display: flex;
    flex-direction:column-reverse;
    gap: 30px;
    justify-content: center;
    
  }
  .portfolio-image{
    height: 300px;
    border-radius: 50%;
    padding:0;
  }
  .line{
    margin: 2rem;
  }
  .about-container, .about-content{
    padding:0;
    margin:0;
  }
  .project-card-container{
    display: flex;
    flex-direction: column;
  }
  
}